/* css file for the website */

html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: boxborder-box;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.row{
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar{
    font-weight: bold;
}

.navbar .brand-name{
    color: green;
}
.navbar .brand-name:hover{
    color: green;
}

#nav a {
    display: block;
}

#nav a:hover {
    color: green;
}

.pic-circle{
    padding: 20px;
    border-radius: 50%;
    width:250px;
    height:250px;
}

.d-flex {
    display: flex;
}

.description{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-title {
    padding-top: 30px;
    /* text-align: center; */
    color: green;
}

.first-page {
    text-align: center;
    padding-top: 20%;
    padding-bottom:30%;
}

.name {
    color: green;
}

.btn .work-button{
    color: green;
    text-decoration: none;
    padding: 4px 0;
    
}

.about-title{
    text-align: center;
}


.resume-btn{
    color: green;
    width: 150 px;
    height: 40px;
    padding: 10px 10px;
    border-radius: 2px;
    border: 1px solid green;
    background: center;
}

.work-button:hover{
    background-color: green;
    color: #f5f5f5;
    text-decoration: none;
}

.download-row :hover{
    background-color: green;
    color: #f5f5f5;
    text-decoration: none;
    /* display: inline; */
}

.about-row{
    margin-left:50px;
}

.round-button {
    display: block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border: 2px solid #d65d25;
    border-radius: 50%;
    color: #f5f5f5;
    text-align: center;
    text-decoration: none;
    background: green;
    box-shadow: 0 0 3px purple;
    font-size: 20px;
    font-weight: bold;
}

.card-img-top{
    padding: 20px;
}

.about-center{
    text-align: center;
}

.button-align{
    padding-left: 90px;
}

.skills {
    text-align: right;
    color: white;
}

.Python {
    width: 70%;
    background-color: #4CAF50;
}

.Django {
    width: 70%;
    background-color: #0b61a7;
}

.Algorithms {
    width: 50%;
    background-color: #2196F3;
}

.Data-Structure {
    width: 60%;
    background-color: #f44336;
}

.Java-C {
    width: 50%;
    background-color: #144655;
}

.front-end {
    width: 40%;
    background-color: #a73477;
}

.footer-copyright{
    background-color: grey;
    color: white;
    
}


#linking1{
    color: black;
    font-weight: bold;
    text-decoration: none;
} 

#linking2{
    color: green;
    font-weight: bold;
    text-decoration: none;
}